<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome! Eduardo Medina</title>
        <link rel="stylesheet" href="cstyles.css">
    </head>
    <body>
    <h2 class ="h1">CHATS</h2>
    <form>
        <label>Look for:</label>
        <input type="search" name="c">
    </form>
    <div class="Chats">
        <p class="block1">Jeremy Rodrigo</p>
        <p class="block1">Francisco Pancho</p>
        <p class="block1">Carlos Cabrera</p>
    </div>
    </body>
    </html>
